@import "tailwindcss";
@import "@nuxt/ui";
@import "@/assets/main.css";

@theme {
  --font-sans: "Public Sans", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --ui-primary: var(--color-cyan-500);
  --color-midnight: #4699ec;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-card-background: var(--color-card-background);
  --color-chat-background: var(--color-chat-background);
  --color-chat-sidebar: var(--color-chat-sidebar);
  --color-chat-sidebar-item-hover: var(--color-chat-sidebar-item-hover);
  --color-chat-sidebar-item-active: var(--color-chat-sidebar-item-active);
  --color-chat-sidebar-item-active-text: var(--color-chat-sidebar-item-active-text);
  --color-chat-grid-gap: var(--color-chat-grid-gap);
  --color-chat-ai-bubble: var(--color-chat-ai-bubble);
  --color-chat-ai-bubble-text: var(--color-chat-ai-bubble-text);
  --color-chat-input: var(--color-chat-input);
  --color-chat-option-border: var(--color-chat-option-border);
  --color-chat-option: var(--color-chat-option);
  --color-chat-option-text: var(--color-chat-option-text);
  --color-chat-option-hover-border: var(--color-chat-option-hover-border);
  --color-chat-option-hover: var(--color-chat-option-hover);
  --color-chat-option-hover-text: var(--color-chat-option-hover-text);
  --color-chat-option-active-border: var(--color-chat-option-active-border);
  --color-chat-option-active: var(--color-chat-option-active);
  --color-chat-option-active-text: var(--color-chat-option-active-text);
  --color-chat-reasoning-bg: var(--color-chat-reasoning-bg);
  --color-chat-reasoning-text: var(--color-chat-reasoning-text);
  --color-chat-reasoning-summary: var(--color-chat-reasoning-summary);

  /* --ui-text-primary: var(--color-cyan-600); */
}

/*
  note: adopt and extend values from TailwindCSS
*/
@utility rounded-pill {
  border-radius: 9999px;
}

@utility rounded-circle {
  border-radius: 50%;
}

@utility rounded-shaped {
  border-radius: 24px 0;
}

@source inline('rounded');
/* .25rem */
@source inline('rounded-{none,sm,md,lg,xl,2xl,3xl,full,pill,circle,shaped}');

/*
  note: adopt elevation shadows from TailwindCSS
*/
@utility elevation-0 {
  box-shadow: none;
}

@utility elevation-1 {
  box-shadow: var(--shadow-xs);
}

@utility elevation-2 {
  box-shadow: var(--shadow-sm);
}

@utility elevation-3 {
  box-shadow: var(--shadow-md);
}

@utility elevation-4 {
  box-shadow: var(--shadow-xl);
}

@utility elevation-5 {
  box-shadow: var(--shadow-2xl);
}

@source inline('elevation-{0,1,2,3,4,5}');
